<form role="form">
    <h1>Edit a user:</h1>
    <br/>
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" ng-model="user.name">
    <label for="surname">Surname</label>
    <input type="text" class="form-control" id="surname" ng-model="user.surname">
    <label for="email">E-m@il</label>
    <input type="email" class="form-control" id="email" ng-model="user.email">
    <label for="website">Website</label>
    <input type="text" class="form-control" id="website" ng-model="user.website">
    <br/>
    <button type="submit" class="btn btn-primary" ng-click="addInfo()">Edit</button>
</form>