<div class="col-lg-12">
    <h2>Search a user</h2>
    <br/>
    <p>By name, surname, website or e-mail: <input type="text" ng-model="user"></p>
    </p>
</div>

<a href="#/add"><button class="btn btn-success" id="addUser">Add a user</button></a>
<br/>
<div class="col-lg-offset-4 col-lg-5" id="list">
<h2>Users list</h2>
<br/>
<div class="col-lg-12">
    <table class="table table-bordered table-hover">
        <tr ng-repeat="user in users | filter:user">
            <td><a href="#/users/{{ user.id }}">{{ user.name }}, {{ user.surname }}</a></td>
            <td><a href="" ng-click="delete(user.id)"><i class="glyphicon glyphicon-trash"></i></a></td>
        </tr>
    </table>
</div>
</div>
