<div class="ficheUser">
    <h1>User:</h1>
    <br/>
    <p>Name : {{user.name}}</p>
    <p>Surname : {{user.surname}}</p>
    <p>E-m@il : {{user.email}}</p>
    <p>Website : {{user.website}}</p>
    <p>Created at : {{user.createdAt}}</p>
    <p>Updated at : {{user.updatedAt}}</p>
    <br/>
    <a href="#/edit/{{user.id}}" class="btn btn-primary" >Edit user</button></a>
</div>
<div class="ficheProjUser">
    <h1>Project :</h1>
    <br/>
    <p>Title : {{ userProject.title }}</p>
    <p>Description : {{ userProject.description }}</p>
    <p>Role : {{ userRole.name }}</p>
    <br/>
    <a href="#/edit_project/{{project.id}}" class="btn btn-primary" >Edit project</button></a>
    <br/>
    <br/>
    <br/>
    <a href="#/users" type="button" class="btn btn-danger">Go back</a>
</div>