<div class="ficheUser">
    <h2>User :</h2>
    <br/>
    <p>Name : {{user.name}}</p>
    <p>Surname : {{user.surname}}</p>
    <p>E-m@il : {{user.email}}</p>
    <p>Website : {{user.website}}</p>
    <p>Created at : {{user.createdAt}}</p>
    <p>Updated at : {{user.updatedAt}}</p>
    <br/>
    <a href="#/edit/{{user.id}}" class="btn btn-success" id="edit1" >Edit user</button></a>
</div>
<div class="ficheProjUser">
    <h2>Projects :</h2>
    <br/>
    <table class="table table-bordered">
        <td>Title</td>
        <td>Description</td>
        <td>Role</td>
        <tr ng-repeat="project in projects">
            <td>{{ project.title }}</td>
            <td>{{ project.description }}</td>
            <td>{{ project.name }}</td>
        </tr>
    </table>
    <a href="#/add_role"><button class="btn btn-success" id="edit2">Add a role</button></a>
</div>
<br/>
<br/>
<a href="#/users" type="button" class="btn btn-danger">Go back</a>