<form role="form">
    <h2>Edit a project</h2>
    <br/>
    <label for="title">Project title</label>
    <input type="text" class="form-control" id="title" ng-model="project.title">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" ng-model="project.description"> </textarea>
    <label for="start">Start year</label>
    <input type="number" class="form-control" id="start" ng-model="project.year">
    <br/>
    <button type="submit" class="btn btn-success" ng-click="addData()">Edit</button>
</form>