<div>

    <h2>Search a project</h2>
    <br/>
    <p>By name or description: <input type="text" ng-model="project"></p>
</div>

    <a href="#/add_project"><button class="btn btn-success" id="addProj">Add a project</button></a>

<div class="col-lg-offset-4 col-lg-5" id="list">
    <h2>Projects list</h2>
    <br/>
    <div class="col-lg-12">
        <table class="table table-bordered table-hover">
            <tr ng-repeat="project in projects | filter:project">
                <td><a href="#/projects/{{project.id}}">{{ project.id }}, {{ project.title }}</a></td>
                <td><a href="" ng-click="delete(project.id)"><i class="glyphicon glyphicon-trash"></i></a></td>
            </tr>
        </table>
    </div>
</div>

