<div>
    <h2>Project : {{ project.title }}</h2>
    <br/>
    <p>Description : {{ project.description }}</p>
    <p>Start year : {{ project.year }}</p>
    <p>Created at : {{project.createdAt}}</p>
    <p>Updated at : {{project.updatedAt}}</p>
    <br/>
    <a href="#/edit_project/{{project.id}}" class="btn btn-success" id="edit1" >Edit</button></a>
    <br/>
    <br/>
</div>
<div>
    <h2>People roles for the current project :</h2>
    <br/>
    <table class="table table-bordered">
        <td>Name</td>
        <td>Surname</td>
        <td>Role</td>
        <tr ng-repeat="user in users">
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.role }}</td>
        </tr>
    </table>
    <a href="#/add_role/{{ project.id }}"><button class="btn btn-success" id="edit2">Add a role</button></a>
</div>
<br/>
<br/>
<a href="#/projects" type="button" class="btn btn-danger">Go back</a>