<div>
    <h1>Project: {{ currentProject.title }}</h1>
    <p>Description: {{ currentProject.description }}</p>
    <p>Start year: {{ currentProject.year }}</p>

    <a href="#/edit_project/{{currentProject.id}}" class="btn btn-primary" >Edit</button></a>
    <button type="button" ng-click="deleteProj(currentProject.id)" class="btn btn-primary" >Delete</button>
    <button onclick="history.go(-1)" type="button" class="btn btn-primary">Go back</button>
    <br/>
    <br/>
    <h1>People roles for the current project:</h1>
    <br/>
    <li ng-repeat="role in roles"><a href="#/projects/{{role.ProjectId}}">{{role.name}}</a></li>
</div>