<form class="form">
    <fieldset>

    <h2>Add a role</h2>
    <br/>

        <div class="form-group">
            <label class="col-lg-4 control-label">Project :</label>
            <div class="col-lg-6">
                <select name="project" class="form-control" ng-options="proj.title for proj in projects" ng-model="currentProject">
                </select>
            </div>
        </div>

        <div class="form-group">
        <label class="col-lg-4 control-label">User :</label>
        <div class="col-lg-6">
            <select name="user" class="form-control" ng-options="user.name for user in users" ng-model="currentUser">
            </select>
            </div>
        </div>

        <div class="form-group">
        <label class="col-lg-4 control-label">Role :</label>
        <div class="col-lg-6">
            <input name="role" class="form-control" type="text" ng-model="role.name">
        </div>
        </div>
        <br/>

        <button class="btn btn-success" ng-click="addInfo()">Add</button>
        <br/>
        <br/>
        <br/>
        <br/>
    </fieldset>
</form>